mixin promo(item)
  -
    const {
      title,
      src,
      srcset=false,
      hasContent = true,
      hasBtnLink= true
    } = item

  a.promo&attributes(attributes)
    if(srcset)
      picture
        source(srcset=`${src}-xl.jpg` media=`(min-width: ${media.xl}px)`)
        source(srcset=`${src}-lg.jpg` media=`(min-width: ${media.lg}px)`)
        img.promo__img(src=`${src}.jpg`, alt=title)
    else
      img.promo__img(src=src, alt=title)
    if(hasContent)
      .promo__content
        h3.promo__title= title
        if(hasBtnLink)
          span.promo__link
            | Смотреть
            span.promo__icon-arrow
              svg(width="93" height="16")
                use(href="img/symbols.svg#icon-long-arrow")
