mixin table-char({list, title, warnigText, subtitle})
  .table-char&attributes(attributes)
    if(title)
      header.table-char__header
        h2.table-char__title= title
        if(subtitle)
          p.table-char__subtitle!= subtitle
    .table-char__wrap-table
      table.table-char__table
        each item, i in list
          tr.table-char__tr
            if(item.label)
              td.table-char__label!= item.label
            if(item.value)
              td.table-char__value!= item.value
      if(warnigText)
        span.table-char__warning= warnigText
