
mixin preview(item)
  -
    const {
      title = "Кольцо золотое 585°",
      link = "#",
      priceCurrent = "15 400",
      priceOld = "30 800",
      img,
      btnFavorite = false,
      btnFavoriteActive = false,
      showRating = false,
      badgeDunger = false,
      badgePink = false,
      busket = false
    } = item
  article.preview&attributes(attributes)
    if(btnFavorite)
      button.preview__btn-favorite(type="button" class=btnFavoriteActive && 'active')
        svg.preview__svg-icon(width="24" height="24")
          use(href="img/symbols.svg#icon-heart")
    if(badgeDunger || badgePink)
      .preview__list-badge
        if(badgePink)
          span.badge.badge--pink Намекни
        if(badgeDunger)
          span.badge.badge--dunger Шок-цена
    a.preview__img(href=pages.pageSingle.href)
      img(src=`img/content/${img}.jpg` alt=title)
    footer.preview__footer
      h3.preview__title= title
      .preview__footer-row
        a.preview__price(href=pages.pageSingle.href)
          span.preview__price-text.preview__price-text--current= priceCurrent
            svg(width="16" height="17")
              use(href=`img/symbols.svg#icon-rouble-1`)
          if (priceOld)
            span.preview__price-text.preview__price-text--old= priceOld
              svg(width="13" height="13")
                use(href=`img/symbols.svg#icon-rouble-1`)
        if (busket)
          button.preview__busket.d-xl-none(type="button")
            svg(width="22" height="22")
              use(href="img/symbols.svg#icon-basket")
      if(showRating)
        +final-rating.preview__rating.d-lg-none
