mixin shop-address({title, address, badge=true, idx})
  .shop-address&attributes(attributes)
    section.shop-address__content
      h3.shop-address__title=title
      p=address
      p Пн-Вс 10:00-22:00
      a(href=numberPhone.href)=numberPhone.text
      .shop-address__btns
        if badge
          span.badge.badge--success.shop-address__badge Доставим 12 апреля
        button.btn.shop-address__btn-more(data-shop-link=`#${idx}`)
          span.d-lg-none Подробнее
          svg.d-none.d-lg-block(width="24" height="24")
            use(href=`img/symbols.svg#icon-arrow-2`)
    block
