-
  const buttonsList = [
    {
      icon: 'icon-heart',
      text: pages.lkFavorites.text,
      href: pages.lkFavorites.href
    },
    {
      icon: 'icon-basket',
      text: pages.basketFilling.text,
      href: pages.basketFilling.href
    },
    {
      icon: 'icon-profile',
      text: pages.lk.text,
      href: pages.lk.href
    }
  ]

  const links = [
    {
      icon: 'icon-geo',
      text: 'Уфа',
    },
    {
      icon: 'icon-phone',
      text: numberPhone.text,
      href: numberPhone.href
    }
  ]

mixin linkBack({iconBack=false})
  if iconBack
    +link-icon({
      icon: 'icon-arrow-3',
      widthIcon: 18,
      heightIcon: 18,
    })(href=iconBack).d-lg-none
  else
    +link-icon({
      icon: "icon-search",
    })(href="#").page-header__btn-icon-search.d-lg-none

mixin catalogSearch({catalogSearch=false, catalogTitle=false, headerLogo=true})
  if headerLogo
    +logo(pages.index.href)(class=(catalogSearch || catalogTitle) && 'd-none d-lg-block')
      img(src='img/content/logo.svg', alt='Logo')
  if catalogSearch
    +form.form--search.page-header__search.d-lg-none(action="#")
      +field-text({
        mods: '',
        val: '',
        attrs: {
          placeholder: 'Поиск по каталогу'
        }
      })
  if catalogTitle
    h2.page-header__title.d-lg-none= catalogTitle

mixin page-header({innerPage=false, iconBack=false, catalogSearch=false, headerBurger=true})
  header.page-header&attributes(attributes)
    .container
      .page-header__top-wrap(class=innerPage && 'page-header__top-wrap--internal')
        +burger('Меню')(class=!headerBurger && 'd-none').page-header__burger.d-lg-none
        .page-header__col-left.d-none.d-lg-flex
          each item in links
            +link-icon({
              icon: item.icon,
              text: item.text,
            })(href=item.href)
        .page-header__col-center
          +catalogSearch({catalogSearch, catalogTitle, headerLogo})
        +navigation.page-header__col-right.d-none.d-lg-flex
        +linkBack({iconBack: iconBack})
      .page-header__bottom-wrap.d-none.d-lg-flex
        a.btn.btn--dark.page-header__btn-catalog(href=pages.catalog.href)
          svg.btn__icon.btn__icon--right(width="24" height="14")
            use(href="img/symbols.svg#icon-burger")
          | Каталог
        +form.form--search.page-header__search(action="#")
          +field-text({
            mods: '',
            val: '',
          })
          button.btn.btn--pink.form__search-btn Поиск
        ul.page-header__buttons-list
          each item in buttonsList
            li.page-header__buttons-item
              +link-icon({
                icon: item.icon,
                text: item.text,
                iconTop: true,
              })(href=item.href).page-header__link-icon
