//- Все примеси в этом файле должны начинаться c имени блока (modal)

mixin main-header()
  //-TODO: хедер и модалка одинаковы, подумать
  .modal__header-main
    button.modal__header-main-close(data-fancybox-close="" aria-label='Закрыть' type="button")
      svg(width="18" height="18")
        use(href="img/symbols.svg#icon-close")
    +logo(pages.index.href).modal__header-main-logo
      img(src='img/content/logo.svg', alt='Logo')
    +mobile-search()

mixin header-title({btnCloseMobileLeft, title})
  button.modal__close(data-fancybox-close="" aria-label='Закрыть' type="button" class=btnCloseMobileLeft && 'modal__close--xs-left')
    svg(width="24" height="24")
      use(href="img/symbols.svg#icon-close")
  h4.modal__title!= title

mixin modal({id, title, mods, classHeader, mainHeader=false, headerBlock=true, btnCloseMobileLeft=false})

  //- Принимает:
  //-   id      {string} - идентификатор
  //-   title   {string} - заголовок
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +modal('modal-demo-01', 'Заголовок', 'some')
          .modal__body
            p Текст
          .modal__footer
            button.btn(type='button', data-dismiss='modal') Закрыть

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' modal--' + modsList[i].trim();
      }
    }

  .modal(id=id, class=allMods, tabindex='-1', role='dialog')&attributes(attributes)
    .modal__dialog(role='document')
      if headerBlock
        header.modal__header(class=classHeader)
          if mainHeader
            +main-header()
          else
            +header-title({
              btnCloseMobileLeft,
              title
            })
      .modal__content
        block
