mixin user({name, status, img})
  a.user(href=pages.lk.href)&attributes(attributes)
    .user__img
      img(src=img, alt=name)
    section.user__info
      h3.user__name= name
      span.user__status= status
