extends pug/layout.pug

block var
  - const pageCurrent = pages.catalog.href;

block meta
  title= pages.pageCategory.text

block content
  .page-category.page__content
    .container
      +link-icon({
        icon: 'icon-arrow',
        text: "Назад",
        widthIcon: 14,
        heightIcon: 14,
      })(href=pages.index.href).link-back
      //TODO: Title не тот блок вынеси в класс единый
      h1.main-content__title.page-category__title.d-none.d-lg-block= pages.pageCategory.text
        span.page-category__title-count 42 383 товара
      +breadcrumbs().page-category__breadcrumbs
        +breadcrumbs-item(pages.index.text, pages.index.href)
        +breadcrumbs-item(pages.catalog.text, pages.catalog.href)
        +breadcrumbs-item(pages.pageCategory.text)
      .page-category__grid
        +catalog-filter.d-none.d-lg-block
        .page-category__products
          .page-category__active-filtres.d-none.d-lg-flex
            .page-category__tag-list(data-container="")
             - for(let i = 1; i <= 2; i++)
               button.tag-filter(type="button") Кольцо
                 svg(width="24" height="24")
                   use(href="img/symbols.svg#icon-close")
            button.page-category__reset(type="button" data-reset-form="") Сбросить все
          .page-category__sort
            +dropdown({
              text: 'По популярности',
            })
              .dropdown__content
                span.dropdown__item-content
                  a.dropdown__link-content.active(href='#') По популярности
                span.dropdown__item-content
                  a.dropdown__link-content(href='#') По возрастанию цены
                span.dropdown__item-content
                  a.dropdown__link-content(href='#') По убыванию цены
            +link-icon({
              icon: 'icon-filter',
              widthIcon: 16,
              heightIcon: 16,
            })(href="#").d-lg-none
          .page-category__gap-tpl.grid-tpl-2.grid-tpl-xl-4
            - for(let i = 1; i < 43; i++)
              if(i % 15 === 0)
                .grid-tpl-col-2.grid-tpl-row-xl-2
                  a.page-category__promo-link(href=pages.catalogActions.href)
                    //TODO: Подумать
                    if (i === 15)
                      picture
                        source(srcset=`img/content/catalog-pictures/catalog-picture-lg-1.jpg` media=`(min-width: ${media.xl}px)`)
                        img.page-category__img(src=`img/content/catalog-pictures/catalog-picture-xs-1.jpg` alt=pages.catalogActions.text)
                    if (i === 30)
                      picture
                        source(srcset=`img/content/catalog-pictures/catalog-picture-lg-2.jpg` media=`(min-width: ${media.xl}px)`)
                        img.page-category__img(src=`img/content/catalog-pictures/catalog-picture-xs-2.jpg` alt=pages.catalogActions.text)
              else
                +preview({
                  img: `prev-1`,
                  btnFavorite: true,
                  badgeDunger: i % 5 === 0,
                  badgePink: i % 3 === 0,
                  busket: true,
                })
          +pagination.pagination--center.page-category__pagination
            +pagination-item('1', '#', 'active')
            +pagination-item('2', '#')
            +pagination-item('3', '#')
            +pagination-item('...')
            +pagination-item('15', '#')
            +pagination-item('16', '#')
